
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>About</h2>
<p>
    <img src="~/Content/Images/about.jfif" alt="About picture" style="float:left;width:120px;height:80px;">
    <h4>
        This is a test application to learn basis of ASP.NET development.
    </h4>
</p>

