
@{
    ViewBag.Title = "Delete_forbidden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <font color="red">
        <h2>Forbidden!</h2>
    </font>
<h4>
    Removing default records is strictly forbidden.
    <br />Choose another record or create your own if you want to delete something.
</h4>
@Html.ActionLink("Back to List", "Index")

